{{#if @outletArgs.model.hoojah_poll}}
  <div class="hoojah-poll-container">
    <HoojahPollWidget
      @poll={{@outletArgs.model.hoojah_poll}}
      @onPollUpdate={{action "updateHoojahPoll"}}
    />

    <HoojahFilterTabs
      @poll={{@outletArgs.model.hoojah_poll}}
      @onFilterChange={{action "filterPostsByStance"}}
    />
  </div>
{{/if}}
