<div class="hoojah-filter-tabs">
  <ul class="nav nav-pills">
    {{#each this.filters as |filter|}}
      <li class="nav-item">
        <a
          href="#"
          class="nav-link {{if (this.isActive filter.key) 'active'}}"
          {{on "click" (fn this.selectFilter filter.key)}}
        >
          {{#if filter.icon}}
            {{d-icon filter.icon}}
          {{/if}}
          {{filter.label}}
        </a>
      </li>
    {{/each}}
  </ul>
</div>
